.LandingPage .main_page{
    height: fit-content;
    background-image: url("../images/landing_ambulance.jpg");
    /* background-repeat: round; */
    background-size:cover;
    padding-top: 190px;
    padding-bottom: 5px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center; */
}


.LandingPage .image_box{
    width: 100vh;
}

.LandingPage .bring_to_center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
   justify-content: space-between !important;
  
   /* row-gap: 100px; */
}

.LandingPage .heading_box{
    text-align: left;
    /* padding-left: 30px; */
    color: white;
    /* border: 1px solid yellow; */
}

.LandingPage #main_heading{
    font-size: 80px;
    text-align: left;
}
.LandingPage #guaranteed{
    font-size: 80px;
    text-align: left;
    font-weight:645;
    letter-spacing: 8px;
    /* width: 100; */
}

.LandingPage #main_text{
    /* border: 1px solid yellow; */
    margin-top: 80px;
    font-size: 25px;
    font-weight: 700px !important;
    color: white;
    /* background-color: #9e13de5f; */
}
.LandingPage .text_box{
    /* padding-left: 4; */
    width: 500px;
    background-image: radial-gradient(#9e13de5f,#9e13de1d, rgba(0, 128, 0, 0));
    border-radius: 1000px;
    

}

.LandingPage .partner_boxes{
    margin-top: 100px;
    color: white;
    margin-bottom: 80px;
}

.LandingPage .logo_image img{
    width: 140px;
    height: 140px;
    object-fit: contain;
    /* border: 1px solid yellow; */
}

.LandingPage .button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

.LandingPage .button h1{
    font-size: 18px;
    font-weight: 800px !important;
    color: white !important;
    letter-spacing: normal !important;
}


.LandingPage #mission_statement_box  {
    text-align: left;
    /* color: red; */
    padding: 120px 60px;
}
.LandingPage #mission_statement_box h1{
    color: #7B0BB0;
    letter-spacing: 5px;
}

.LandingPage #mission_statement_box p{
    font-size: 22px;
}