.LogIn .main_box{
    background-image: url("../images/ambulance_login.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.LogIn .form_box{
    
    text-align: left;
    background-color: white;
    width: 400px;
    padding: 50px 20px;
    padding-top: 0px;
    border-radius: 13px;
    
}

.LogIn .form_box h3{
    text-align: center;
    padding-bottom: 40px;
}

.LogIn .form_row{
    padding-bottom: 10px;
}

.LogIn .bring_child_to_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogIn .button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 8px 90px;
    border: none;
    /* margin-top: 20px; */
    margin-bottom: 10px;
}


.LogIn .bring_link_to_center{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}