.LogIn{
    /* background-image: url("../images/ambulance_login.jpg"); */
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ede8f0; */
    background-color: rgba(49, 48, 48, 0.462);

}
.LogIn #bg_video{
    position: fixed; z-index: -99; width: 100%; height: 100%
}
/* style="position: fixed; z-index: -99; width: 100%; height: 100%" */
/* .LogIn .main_box{
    background-image: url("../images/ambulance_login.jpg");
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.LogIn .form_box{
    
    text-align: left;
    background-color: rgba(255, 255, 255, 0.905);
    width: 45vw;
    max-width: 400px;
    min-width: 300px;
    padding: 00px 25px;
    padding-top: 0px;
    padding-bottom: 40px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.LogIn .back_link{
    color: black;
}

.LogIn .img_logo{
 width: 40px;
 height: 40px;
}
.LogIn .logo_text{
    color: #7B0BB0;
}

.LogIn .form_heading{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.LogIn .form_row{
    padding-bottom: 0px;
}

.LogIn input{
    background-color:#EFF0F2;
    color: #838383;
    border: none;
}

.LogIn .bring_child_to_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogIn .button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 8px 90px;
    border: none;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    margin-top: 15px;
}

.LogIn .button:hover{
    background-color: #63098d;
}

.LogIn .bring_link_to_center{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.LogIn .alternate_links_p{
    font-size: small;
    margin-bottom: 2px;
}
.LogIn .alternate_links{
    text-decoration: none;
    color: #7B0BB0 !important;
}

.LogIn .alternate_links:hover{
    color: #63098d !important;
    text-decoration: underline;

}