.main_box{
    background-image: url("../images/pakka_main_Ambulance_main.jpg");
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;    
    background-size: contain;
    background-repeat: no-repeat;
    
}


.form_box{
    
    text-align: left;
    background-color: white;
    width: 500px;
    padding: 60px 20px;
    border-radius: 13px;
    
}

.form_box h3{
    text-align: center;
    padding-bottom: 40px;
}

.form_row{
    padding-bottom: 10px;
}

.bring_child_to_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 8px 90px;
    border: none;
    /* margin-top: 20px; */
    margin-bottom: 10px;
}


.bring_link_to_center{
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* margin-top: 2px; */
}