.ReportAccident {
  height: 91vh;
  display: flex;
  
  justify-content: center;
  align-items: center;
  /* background-image: url("../images/ambulance_login.jpg"); */
  background-image: url("../images/update_bg.jpg");

  background-size:cover;
}

.content-box {
  /* width: calc(100% - 100px);
  height: calc(100% - 100px); */
  /* width: fit-content; */
  width: 80%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  align-content: center;
  padding: 25px 40px 35px 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.form-box {
  /* flex: 1;  */
  /* padding: 20px; */
  width: 30vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  height: 90px;

}

label {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

input,
textarea {
  padding: 5px;
  border: 1px solid #7B0BB0;
  border-radius: 5px;
  font-size: 1rem;
  color: #7B0BB0;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #E1F2F9;
}

input::placeholder,
textarea::placeholder {
  color: #7B0BB0;
  font-size: 0.9rem;
}

.ReportAccident button[type="submit"] {
  /* background-color: #7B0BB0; */
  background-color: #8705C3;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.ReportAccident button[type="submit"]:hover{
  background-color: #7B0BB0;
}

.ReportAccident .info-box {
  /* flex: 1; */
  
  /* display: flex; */
  /* flex-direction: column; */
  /* border-radius: 20px; */
  /* height: calc(100%-40px); */
  /* width: 100px; */
  /* box-sizing: border-box; */
  /* height: 400px; */
  width:35vw ;
  /* aspect-ratio: 4/3;  */
  /* margin: 40px; */
}

.ReportAccident .map-container {
  height: 420px;
  /* height: 500px; */
  border-radius: 20px;
  /* border: 1px solid #8705C3; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 22pt;
}