.map-container {
    width: 100%;
    height: 50vh;
}


.MainDashboard{
    background-image: url("../images/update_bg.jpg");
    height: 100vh;
    /* width: 100%; */
    display: flex; 
    justify-content: center;
    align-items: center;
    /* flex-direction: row  !important; */
    /* border: 2px solid red; */

    
    
}

.MainDashboard .main_box{
    width: 90%;
    height: fit-content;

   
}

.MainDashboard .updateProfileHeading{
    background-color:#7c0bb07f;
    color: white;
    border-radius: 13px;
    padding: 2px;
    margin-bottom: 10px;
    width: 100%;
}


.MainDashboard .table_box{
    background-color: #F4FCFF !important;
    min-width: fit-content;
    
    height:fit-content;
    /* border: 2px solid red; */
    /* height: fit-content; */
    /* padding: 40px 30px;s */
    /* padding-top: 0px; */
    border-radius: 13px;
    /* border: none !important; */

    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.MainDashboard .info_table{
    
    width: 95%;
    
    
}

.MainDashboard .table_button{
    
    color: white;
    font-weight: 500;
    border-radius: 12px;
    width: 85px;
    height: 30px;
    border: none;
}

.MainDashboard .button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    margin-right: 5px;
}

.MainDashboard .Accepted{
    background-color: #38D063;
}

.MainDashboard .Rejected{
    background-color: #DE3A3A;
}

.MainDashboard .Pending{
    background-color: #BCB6BE;
}

.MainDashboard .table_row{
    border-top: 1.5px #EDD8F7 solid;

}
.MainDashboard .non_button_item{
    padding-top: 9.5px;
}
