
.ManageReporterRequestsAdmin{
    background-image: url("../images/update_bg.jpg");
    height: 100vh;
    /* width: 100%; */
    display: flex; 
    justify-content: center;
    align-items: center;
    /* flex-direction: row  !important; */
    /* border: 2px solid red; */

    
    
}

.ManageReporterRequestsAdmin .main_box{
    width: 90%;
    height: fit-content;

   
}

.ManageReporterRequestsAdmin .updateProfileHeading{
    background-color:#7c0bb07f;
    color: white;
    border-radius: 13px;
    padding: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.ManageReporterRequestsAdmin .heading_items{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.ManageReporterRequestsAdmin .heading_features{
    margin-top: 8px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 400px;
}
.ManageReporterRequestsAdmin .search_box{
    background-color: #EDD8F7;
    border-radius: 12px;
    width: 400px;

}
.ManageReporterRequestsAdmin .heading_button{
    background-color: #EDD8F7;
    border-radius: 12px;
}
.ManageReporterRequestsAdmin .filter_box{
    color: black;
}

.ManageReporterRequestsAdmin .table_box{
    background-color: #F4FCFF !important;
    min-width: fit-content;
    width: 100%;
    height:fit-content;
    /* border: 2px solid red; */
    /* height: fit-content; */
    /* padding: 40px 30px;s */
    /* padding-top: 0px; */
    border-radius: 13px;
    /* border: none !important; */

    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.ManageReporterRequestsAdmin .info_table{
    
    width: 95%;
    
    
}

.ManageReporterRequestsAdmin .table_button{
    
    color: white;
    font-weight: 500;
    border-radius: 12px;
    width: 85px;
    height: 30px;
    border: none;
}

.ManageReporterRequestsAdmin .Accepted{
    background-color: #38D063;
}

.ManageReporterRequestsAdmin .Rejected{
    background-color: #DE3A3A;
}

.ManageReporterRequestsAdmin .Pending{
    background-color: #BCB6BE;
}

.ManageReporterRequestsAdmin .table_row{
    border-top: 1.5px #EDD8F7 solid;

}
.ManageReporterRequestsAdmin .non_button_item{
    padding-top: 9.5px;
}

.ManageReporterRequestsAdmin .button_left{
    background-color: #8705C3;
    color: #EDD8F7;
    font-weight: 600;
    border-right: 2px solid #EDD8F7;
}
.ManageReporterRequestsAdmin .button_left:hover{
    background-color: #61028d;
}
.ManageReporterRequestsAdmin .button_right{
    background-color: #8705C3;
    color: #EDD8F7;
    font-weight: 600;
    border-left: 2px solid #EDD8F7;
}
.ManageReporterRequestsAdmin .button_right:hover{
    background-color: #61028d;
}