.nav_bar_button{
    border: none;
    background-color: #7B0BB0 !important;
    color: white;
    padding: 4px 12px;
    border-radius: 13px;
    font-size:15px;
}



.main_page_2{
    height: fit-content;
    /* width: 1600x; */
    /* border: 2px; */
    background-image: url("../images/ambulance_reporter.jpg");
    padding-top: 190px;
    padding-bottom: 5px;
}


.image_box{
    width: 100vh;
    
    /* height: 108; */
}

.heading_box{
    text-align: left;
    padding-left: 30px;
    color: white;
}

#main_heading_2{
    height: 80px;
    background-color: #7B0BB0;
    font-size: 60px;
    text-align:center;
}

#main_text{
    margin-top: 80px;
    font-size: 25px;
    font-weight: 700px !important;
    color: white;
    /* background-color: #9e13de5f; */
}
.text_box{
    /* padding-left: 4; */
    width: 500px;
    background-image: radial-gradient(#9e13de5f,#9e13de1d, rgba(0, 128, 0, 0));
    border-radius: 1000px;
    

}

.partner_boxes_2{
    margin-top: 160px;
    background-color: rgb(215, 215, 215);
    color:black;
    margin-bottom: 80px;
}

.button{
    background-color: #7B0BB0;
    color: white !important;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

.button h1{
    font-size: 18px;
    font-weight: 800px !important;
    color: white !important;
    letter-spacing: normal !important;
}

th {
    padding-inline: 100px;

  }